
@{
    ViewBag.Title = "Acceuil";
}
<!DOCTYPE html>
<html>
<head>
    <title>Lab1</title>
    
    
</head>
<body>
    <div class="titrePage">
    
        <nav>
            <div class="container nav-container">
                <a href="" class="logo"><h1>Dream Cars</h1></a>
            </div>
        </nav>
        <a @{ @Html.ActionLink("Commander", "Commander", "Home")  ; } </a>
        <a @{ @Html.ActionLink("Liste Voiture", "Cataloge", "Home")}</a>

    </div>

</body>
</html>
    