@{
    ViewBag.Title = "Commande";
}
@model LabMVC.Models.VoitureVO

<!DOCTYPE html>
<html>
<head>
    <title>Lab1</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        function confirmFunction() {
            var r = confirm("Confirmation de la commande.");
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1 class="text-center">Formulaire de commande</h1>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <form action="@Url.Action("Confirmation", "Home")" name="identForm" method="post">
                    <h2>Identification du client</h2>
                    <div class="form-group">
                        <label for="TxtNomVoiture">Voiture:</label>
                        <input type="text" class="form-control" name="TxtNomVoiture" value="@Model.NomVoiture" readonly>
                        <input type="hidden" name="IdVoiture" value="@Model.IdVoiture">
                    </div>
                    <div class="form-group">
                        <label for="Nom">Nom:</label>
                        <input type="text" class="form-control" name="TxtNom">
                    </div>
                    <div class="form-group">
                        <label for="TxtPrenom">Prénom:</label>
                        <input type="text" class="form-control" name="TxtPrenom">
                    </div>
                    <div class="form-group">
                        <label for="Adresse">Adresse:</label>
                        <input type="text" class="form-control" name="Adresse">
                    </div>
                    <div class="form-group">
                        <label for="Ville">Ville:</label>
                        <input type="text" class="form-control" name="Ville">
                    </div>
                    <div class="form-group">
                        <label for="Pays">Pays:</label>
                        <input type="text" class="form-control" name="Pays">
                    </div>
                    <div class="form-group">
                        <label for="telephone">Téléphone:</label>
                        <input type="tel" class="form-control" placeholder="(123)-456-7890" name="telephone">
                    </div>
                    <button type="submit" class="btn btn-primary">Acheter</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>